* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 50px;
  display: flex;
  gap: 10px;
}
main div:first-child {
  justify-content: space-between;
  padding-bottom: 30px;
}
div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

select,
input {
  width: 400px;
}

button {
  width: 200px;
}
