:root {
  --value: 000000;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: color-mix(in hsl, red, green calc(var(--value) * 1%));
}

.container {
  position: relative;
  width: fit-content;
  transform: rotate(90deg);
  transition: all 0.5s;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  height: 80vh;
}

.tring {
  position: absolute;
  inset: 111px 0;
  transform: rotate(180deg);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 400px solid color-mix(in hsl, red, green calc(var(--value) * 1%));
}

.smallcircle {
  position: absolute;
  inset: 68px 92px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
